.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}
/* LOGIN / REGISTER PAGE */

.auth-container {
  margin: 8rem 36rem;
  background-color: grey;
  padding: 2rem;
  opacity: .9;
}

.auth-container button{
  background-color: grey;
  cursor: pointer;
  border-radius: 4px;
}

.auth-container button:hover{
opacity: 0.8;
}

.auth-container button:visited{
  color:black;
}
/* /////////////////////// */

html {
  scroll-behavior: smooth;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* NAV BAR */
.nav_links li{
  list-style: none;
  display:inline-block;
  padding: 0px 85px;
  text-align: center;
  text-decoration: none;
}

li:visited{
  text-decoration: none;
}

a
{
   text-decoration:none;
}
